.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 150px;
    width: 250px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 0 0 25px 25px;
    text-align: center;
    font-size: 10px;

}
#comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  #comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  #comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }

  #btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #21aa05;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  #btn:hover {
    background-color: #fff;
    color: #21aa05;
    border: 2px solid #21aa05;
    box-shadow: 5px 5px 0px #21aa05;
  }
  
  #btn:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }